html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header,
footer{
  height: 150px;
  width: 100%;
  background-color: blueviolet;
}

main {
  padding: 0 20px;
  margin: 3rem 0;
}

label > span {
  display: block;
}

.movielist {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  display: flex;
  flex-direction: column;
  width: 29%;
  border: 2px solid black;
  padding: 10px;
  margin-top: 30px;
}

.movie p {
  margin: 0;
}

.movie__title {
  font-size: 22px;
  font-weight: 700;
}

.movie__year, .movie__type {
  font-size: 18px;
}


.movie__img {
  width: 100%;
  margin-bottom: 15px;
}